/* -----------Common style------------------  */
body{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px;
    padding: 0px; 
}


/* ----------------------first section start ----------------- */
.container{
    display: flex;
    align-items: center;
    background-color: rgb(45, 37, 160);
    width: 100%;
    height: 677px;
    margin-bottom: 85px;
}
.copa{
    margin: 207px 156px;
}
.copa h1{
    color: #FFFFFF;
    font-size: 64px;
    margin-bottom: 0px;
}
.copa button{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;

}
.copa button a{
    text-decoration: none;
    color:  rgb(255, 255, 255);
}
.banner img{
    Width:556.01px; 
    Height:438px;
    margin-right: 140px;
}
/* ----------------------
first section end
----------------------  */

/* ---------------Animation start------------------  */
.banner{
    transition: 2s;
    margin-right: auto;
}
.banner:hover{
    transform: rotate(30deg);
}
/* --------------------Animation end-----------------  */

/* ----------Players Info style Start-------------  */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 158px;
}
.thumbnail{
    background-color: rgba(255, 255, 255);
    border: 1px solid rgba(240,240,240) ;
    box-shadow: 5px 5px 2px rgb(233 222 222 / 44%);
    width: 292px;
    height: 444px;
    padding: 15px;
}
.thumbnail img{
    width: 300px;
    height: 270px;
}
.thumbnail .player-name{
    font-size: 28px;
    color: rgb(24, 25, 31);
    margin-top: 0px;
}
.thumbnail .player-info{
    font-size: 16px;
    color: #6C6C6C;
}
/* ------------------Players Info style End------------------ */

/* --------------form start here-----------  */
.form{
    border: 3px solid rgb(236, 235, 225);
    margin-left: 458px;
    padding: 58px 56px;
    width: 33%;
    border-radius: 30px;
    display: inline-block;
    background-color: rgb(1, 157, 181);
    margin-bottom: 150px;
}
.form h1{
        color: rgb(27, 27, 27);
        cursor: pointer;
}
.form-group input{
    font-family: 'Baloo Bhaina 2', cursive;     
    text-align: center;
    height: 50px;
    width: 410px;
    padding: 10px 20px;
    margin: 16px -12px;
    border-radius: 30px;
    font-size: 25px;
}
.form button{
    color: white;
    display: block;
    margin: 13px auto;
    width: 150px;
    font-size: 25px;
    font-family: 'Baloo Bhaina 2', cursive;
    border-radius: 30px;  
}
.btn{
    cursor: pointer;
    width: 100px;
    background-color: #f78400;
    padding: 20px 15px;
}
/* ------------------------Form End here------------------  */

/* -----------Others start here-------  */
.others{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #078193;
    margin-bottom: 150px;
}
.others img{
    height: 200px;
    width: 180px;
}
.event-info ul li{
    list-style: none;
    font-size: 15px;
    color: rgb(245, 245, 245);
}
.language h3{
    color: rgb(245, 245, 245);
}
.language ul li{
    list-style: none;
    font-size: 15px;
    color: rgb(245, 245, 245);
}
.sponsor-logo img{
    border-radius: 10px;
    height: 100px;
    width: 150px;
    margin-right: 20px;
}
/* -----------Others end here--------------  */

/* Footer style start here------------ */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img{
    width: 483px;
    height: 110px;
}
.icon{
    font-size: 20px;
}
.icon,.fa-facebook,.fa-twitter,.fa-youtube{
    margin-left: 10px;
}
h5{
    font-size: 18px;
    color:  #000000;
}
/* ------------Footer end here-------  */

    
    
   
/* -----------------Media queries------------------------------- */
/*----------------------- 
     Mobile device
---------------------- */
@media only screen and (max-width:480px) {
    body{
        margin: 0px;
        padding: 0px;
    }
    .container{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
       justify-content: flex-end;
    }
    .container,.copa{
        margin-top: 0px;
    }
    .banner img{
       height: 350px;
       width: 400px;
       padding-left: 9px;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
    }
    .others{
        display: flex;
        flex-direction: column;
    }
    .logo img {
        width: 360px;
        height: 110px;
    }
    .form{
        width: 100%;
        margin-left: 0px;
    }
    .form h1{
        padding-right: 30px;
    }
    .form-group input{
        width: 342px;
        padding: 10px 5px;
        align-items: center;
    }
    .form button{
        padding: 10px 25px;
        margin-left: 85px;
    }
}

/*-------------------------------- 
           Tab device
---------------------------------*/
@media only screen and (max-width:1024px) {
    body{
        margin:0px;
        padding: 0px;
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .container,.copa{
        margin-top: 0px;
    }
    .banner img{
        padding-left: 92px;
        padding-bottom: 50px;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
    }
    .form{
        width: 100%;
        margin-left: 0px;
    }
    .form h1{
        padding-right: 145px;
    }
    .form-group input{
        margin-left: 65px;
        width: 450px;
        padding:10px 20px;
        align-items: center;
    }
    .form button{
        margin-left: 233px;
    }
    .others{
        width: 100%;
        margin-left: 39px;
    }
}